.bannerblock {
  background-image: url("content/banner.png");
  padding-bottom: 140px;
  padding-top: 75px;
  display: flex;
  background-size:cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);

  .textblock {
    width: 100%;
    display: flex;
    flex-direction: column;


    .bannerh {
      font-size: 36px;
      font-weight: 600;
      padding-bottom: 21px;
      color: white;
    }

    .borderbanner {
      padding-top: 10.5px;
      background-image: url("content/bannerline.png");
      width: 84px;
      height: 22px;
      background-repeat: no-repeat;
    }

    .extraLogo {
      width:246px;
      height:auto;
      margin-bottom:20px;
      margin-top:-7px;
    }


    .bannerp {
      padding-top: 21px;
      font-size: 16px;
      text-align: left;
      color: white;
      line-height: 1.45;
      padding-bottom: 43px;
    }

    .button {
    color: white;
    border: 2px solid white;
    width: 135px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;

    text-transform: uppercase;
    font-weight: 600;
    text-decoration:none;
    }
  }
.formside {
  justify-content: center;
    display: flex;
    align-items: center;
  .fullform {
    width: 360px;
    background: white;
    margin-left: 90px;
    border-radius: 5px;


    .fullformh {
      background: #F5F5F5;
      padding-top: 17px;
      padding-bottom: 16px;
      border-radius: 5px;
      font-size: 20px;
      color: #333333;
      text-align: left;
      padding-left:52px;
      padding-right:12px;
  
    }
.fullformh3 {
  padding-top: 30px;
  color: #1C1C1C;
  margin-bottom:-7px;
  font-size: 17px;
  font-weight:600;
}
  }

  .form {
    display: flex;
    flex-direction: column;

    .form-wrap {
      padding-left:52px;
      padding-right:52px;
    }
   
    input {
      padding-top: 10px;
      padding-bottom: 4.5px;
      border: none;
      border-bottom: 1px solid #e1e1e1;

      font-size: 12px;
      outline:0;
      width:100%;
    }

    input::placeholder {
      color:#e8e8e8;
    }
  }

  .typing {
    padding-top: 32px;
    color: #1C1C1C;
    font-size: 17px;
    font-weight:600;
  }
}

.custom-radio {
  display: inline-block;
  margin-right:10px;
}

input[type="radio"] {
  display: none;
}
label {
  font-size: 9px;
  text-transform: uppercase;
  margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="radio"]:checked + label {
  opacity: 1;
  font-weight: bold;
}

.check {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid #41D395;
}

.check:before {
  position: absolute;
  content:"";
  width: 7px;
  height: 7px;
  background: #41D395;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transform: scale(0);

}
input[type="radio"]:checked + label .check:before{
transform: scale(1);
}

.bottomform {
  padding-bottom: 35px;
}

.getstartedbtn {
    background: #41D395;
    padding-top: 17px;
    padding-bottom: 16px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;

    font-weight: bold;
    outline:0;
    border:0;
    cursor:pointer;
    &:hover {
      background-color:#1fad70;
    }
  }
}



@media (max-width:768px) {

  .bannerblock .container {
    flex-direction:column;
  }

  .bannerblock .formside .fullform, .bannerblock .textblock  {
    width:100%;
  
    margin-left:auto;
    margin-right:auto;
  }

  .bannerblock .textblock {
    margin-bottom:35px;
  }

}