.top-menu-block {
  background: #1C1C1C;
  display: flex;
  justify-content: center;


  .top-menu {

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;

    .menuimg {
       a {
        display:inline-block;
        transition: 0.5s;
       }

       a:hover {
         opacity: 0.8;
       }

       img {
        height:52px;
       }
    }


    .navmenu {

      display: flex;
      align-items: center;

      ul {
        display: flex;
        list-style-type: none;

        li {
            padding-left: 43px;
            // padding-right: 15px;
            font-size: 14px;


              a {
                color: #a6a6a6;
                  text-decoration: none;

                  hr {
                    visibility: hidden;
                  }

                  &:hover {
                    opacity: 1;
                    color:#fff;
                    border-bottom: 3px solid #E27866;
                    padding-bottom: 24px;
                  }
              }

        }
      }
    }
  }
}



@media(max-width:768px) {
  .top-menu-block  .navmenu{
    position:absolute;
    display:block;
    width:100%;
    left:0px;
    right:0px;
    top:72px;
    background-color:white;
    padding-top:24px;
    padding-bottom:24px;
    visibility:hidden;
    height:0;
    overflow:hidden;
  }

  .top-menu-block .top-menu .navmenu ul {
    display:block;
    width:100%;
  }

  .top-menu-block .top-menu .navmenu ul li {
    padding-left:12px;
    padding-right:12px;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
  }

  .top-menu-block .top-menu .navmenu ul li a:hover {
    padding:0px;
    border:0px;
    color:black;
  }
}
