.pricing {
  background: #6696E2;
  padding-top: 99px;
padding-bottom: 107px;

    .headingfull {
      text-align: center;
      margin-left:auto;
      margin-right:auto;
      display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 32px;
    line-height: 43px;
    color: #fff;
    font-family: Montserrat;
    }

    p {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        opacity: 0.6;
    }
      .headlineborder{
        background-image: url("content/greenline.svg");
        margin-top: 21px;
        height: 2px;
        width: 64px;
        margin-bottom: 27px;
      }
    }
// i virsu sutvarkyta
    .pricelist {
      display: flex;
        justify-content: center;
        margin: auto;
        align-items: end;
        padding-top: 84px;
        width:100%;

        .firstbasic {
          display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left:20px;
            padding-right:20px;
            width:100%;

            .content {
              width:100%;
            }

            .basicborder {
              background-image: url("content/basicborder.svg");
              width:100%;
              height: 6px;
            }

            .basichead {
                background: #303030;
                height: 210px;
                width:100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                p {
                  font-size: 14px;
                  line-height: 24px;
                  font-family: Montserrat;
                  color: #ffffff;
                  opacity: 0.5;
                }

                h3 {
                  font-size: 20px;
                  line-height: 24px;
                  font-family: Montserrat;
                  color: #ffffff;
                  font-weight: 100;
                }

                .pricetag {
                      display: flex;
                      margin-top: 16px;
                  h1 {
                    font-size: 70px;
                    line-height: 24px;
                    color: #ffffff;
                    font-family: Montserrat;
                    font-weight: 100;
                  }

                  h2 {
                    font-size: 40px;
                    font-family: Montserrat;
                    color: white;

                  }

                }
            }
          .basiclist {
            text-align: center;
            margin-bottom:auto;
            font-family: Montserrat;
            border-bottom: 2px solid white;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
              p {

                background: white;
                  padding-top: 11px;
                  padding-bottom: 11px;
                  font-family: Montserrat;
                  text-transform: uppercase;
                  background: white;
                  color: #86878B;
                  font-size: 14px;
                  padding-left:10px;
                  padding-right:10px;


              }

              .colored {
                background: #41D395;
                color: white;
              }
            }
          }
        }


    }



@media(max-width:768px) {
  .pricelist {
    flex-direction:column;
  }

  .pricelist > div {
    margin-bottom:20px;
  }
}