.smblock {


  &.footer {
    background-color:#1C1C1C;




    .iconsblock {
      margin-left:0px;
      width:70%;
      max-width:650px;
      .icon {
        width:24px;
        height:24px;
      }
    }

    .smtext {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: right;
      justify-content: right;
      .socialp {
        font-size:18px;
      }
    }

  }

  background: #FFFFFF;
  padding-top: 18px;
  padding-bottom: 18px;

  .smtext {

    .social {
      color: #333333;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 5px;
    }

    .socialp {
      color: #86878B;
      line-height:1.45;
      font-size: 14px;

    }
  }

  .iconsblock {
    width: 83%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left:10%;
    align-items: center;
    margin-top:5px;

    a {
      display:inline-block;
    }

    .icon {
      width: 36px;
      height: 30px;
      background-repeat: no-repeat;
      background-size:contain;
      background-position:center;
      display:inline-block;
      transition: 0.5s;
    }

    .icon:hover {
        opacity: 0.5;
    }


    .iconf {
      background-image: url("content/facebook-logo.svg");
    }

    .iconi {
      background-image: url("content/instagram-logo.svg");
    }

    .icont {
      background-image: url("content/twitter.svg");

    }

    .iconp {
      background-image: url("content/pinterest.svg");


    }


  }
}



@media (max-width:768px) {
  .smblock {
    padding-top:50px;
    padding-bottom:50px;

    &.footer {
      .iconsblock {
        margin-left:auto;
        margin-right:auto;
      }

      .smtext {
        margin-top:20px;
        text-align:center;
        justify-content: center;
      }
    }
  }


  .smblock .container {
    flex-direction:column;
  }

  .smblock .iconsblock {
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
  }
}
