// Container max-width
$maxWidth: 1196px;
// Container width
$width: 100%;
// Desktop padding
$paddingLeft: 48px;
// Desktop padding
$paddingRight: 48px;

html, body, * {
	font-family: Montserrat;
}

.container {
  display: flex;
  width: $width;
  max-width: $maxWidth;
  margin: 0 auto;
  padding-left: $paddingLeft;
  padding-right: $paddingRight;
}
@media(max-width:1025px) {
	.container {
		padding-left:24px;
		padding-right:24px;
	}
}
@media(max-width:768px) {
	.container {
		padding-left:40px;
		padding-right:40px;
	}
}

@import "parts/menu.scss";
@import "parts/banner.scss";
@import "parts/reset.scss";
@import "parts/social.scss";
@import "parts/tabs.scss";
@import "parts/logobanner.scss";
@import "parts/threerows.scss";
@import "parts/pricing.scss";
@import "parts/reviews.scss";
@import "parts/contacts.scss";
