.tabsblock {
    background-image: linear-gradient(to bottom, #6696e287, #e2786680), url("content/tabner.png");
  align-items: center;
  display: flex;
  background-size:cover;
  background-repeat: no-repeat;
      padding-top: 110px;
    padding-bottom: 115px;
    overflow:hidden;


  .leftsidedblock {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    .miniblocks {
        margin-right: 55px;

        .turned {

          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: rotate(317deg);
          font-size: 16px;
          text-transform: uppercase;
          opacity: 0.5;
          width: 100%;
          height: 100%;
        }

        .turned:hover {
          opacity: 1;
        }
      .registerb {
        background: #A37169;
        width: 100px;
        height: 100px;
        cursor: pointer;
      }

      .tab {

        &.active {
          background-color:#E27866;
          box-shadow: 4px 5px 9px 0px #00000033;
          p {
            color:white;
            opacity:1;
          }
        }

        background-color:#A37169;
        box-shadow: 4px 5px 9px 0px #00000012;
        transition: 0.5s;
        &:hover {
          background-color:#E27866;
          box-shadow: 4px 5px 9px 0px #00000033;
          p {
            opacity:1;

          }
        }

        p:hover {
          opacity:1;
        }
      }

      .registerb:hover {
        background: #E27866;
      }

      .applyb {
        background: #A37169;
        width: 100px;
        height: 100px;
        cursor: pointer;
      }

      .applyb:hover {
        background: #E27866;
      }
      .receiveb {
        background: #A37169;
        width: 100px;
        height: 100px;
        cursor: pointer;
      }

      .receiveb:hover {
        background: #E27866;
      }

      .tab {
        margin-bottom: 21px;
      }

      .tab:nth-of-type(3){
        margin-bottom: 0px;
      }
    }

    .headertext {
      font-size: 36px;
      font-family: Montserrat;
      color: #FFFFFF;
      font-weight: 600;
    }

    .paragraph {
        padding-top: 33px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
    }

    .texttabs {

    }
  }

  .rigthsidedblock {
    width: 40%;
    padding-left: 30px;

    .topimg {

    }

    .layer {
      background-color: rgba(226, 120, 102, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor:pointer;

          .word {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 71px;
            font-size: 20px;
            text-transform: uppercase;
          }

    }

    .layer {
      visibility:hidden;
    }

    .img {
      position:relative;
      background-size:cover;
    }

    .img:hover {
      .layer {
        visibility:visible;
      }
    }

    .threeimg {

      .first {
        background-image: url("content/leaves.png");

        width: 100%;
        height: 168px;
        background-repeat: no-repeat;
        position: relative;


      }
      .second {
        background-image: url("content/food.png");
        box-shadow: -10px -20px 20px #00000012;
        width: 100%;
        height: 168px;
        background-repeat: no-repeat;
        margin-left: 20px;
      }

      .third {
        background-image: url("content/shoes.png");
        box-shadow: -12px 11px 20px #00000012;
        width: 100%;
        height: 177px;
        background-repeat: no-repeat;
      }

      .topimg {
        display: flex;

      }

      .bottomimg {
        margin-top: 20px;
        display: flex;
        align-items: center;
      }
    }
  }

  .tabssize {
    display: flex;
  }
}



@media (max-width:768px) {

  .tabsblock {
    padding-top:50px;
    padding-bottom:50px;
  }

  .tabsblock .container {
    flex-direction:column;
  }

  .tabsblock .leftsidedblock, .tabsblock .rigthsidedblock {
    width:100%;
  }

  .tabsblock .leftsidedblock {
    flex-direction:column;
  }

  .tabsblock .leftsidedblock .miniblocks {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
  }

  .tabsblock .leftsidedblock, .tabsblock .rigthsidedblock {
    padding-left:0px;
    margin-top:50px;
  }

  .tabsblock .leftsidedblock .miniblocks > div.tab {
    width:33.333%;
  }
}
