.all {
  background: #FFFFFF;
  padding-top: 99px;
padding-bottom: 122px;

    .headingfull {
      text-align: center;
      margin-left:auto;
      margin-right:auto;
      display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 32px;
    line-height: 43px;
    color: #212121;
    font-family: Montserrat;
    }

    p {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 20px;
        color: #86878B;
    }
      .headlineborder{
        background-image: url("content/awesomeborder.svg");
        margin-top: 21px;
        height: 2px;
        width: 64px;
        margin-bottom: 27px;
      }
    }

    .people {
      display: flex;
        justify-content: center;

        .person {
          display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33.3333%;
            padding-left: 20px;
            padding-right: 20px;


            .borderfirst {
              border: 1px solid #E27866;
              border-radius: 50%;
              justify-content: center;

              i {
                font-size: 29px;
                color: #E27866;
                padding: 15px;
              }

              .leave {

              }

            }

          .texty {
            text-align: center;
            padding-top: 35px;
            margin-bottom:auto;
            font-family: Montserrat;
              h2 {
                font-size: 20px;
                line-height: 20px;
                color: #333333;
              }
              p {
                font-size: 14px;
                color: #86878B;
                line-height: 20px;
              margin-top: 27px;


              }
            }
          }
        }

        .full {
          padding-top: 99px;
    
        }
    }



@media(max-width:768px) {
  .all {
    padding-top:50px;
    padding-bottom:50px;
  }
  
  .all .people {
    flex-direction:column;
  }

  .all .people .person {
    width:100%;
  }
}