html, body, * {
  font-family: Montserrat; }

.container {
  display: flex;
  width: 100%;
  max-width: 1196px;
  margin: 0 auto;
  padding-left: 48px;
  padding-right: 48px; }

@media (max-width: 1025px) {
  .container {
    padding-left: 24px;
    padding-right: 24px; } }

@media (max-width: 768px) {
  .container {
    padding-left: 12px;
    padding-right: 12px; } }

.top-menu-block {
  background: #1C1C1C;
  display: flex;
  justify-content: center; }
  .top-menu-block .top-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px; }
    .top-menu-block .top-menu .menuimg a {
      display: inline-block; }
    .top-menu-block .top-menu .menuimg img {
      height: 52px; }
    .top-menu-block .top-menu .navmenu {
      display: flex;
      align-items: center; }
      .top-menu-block .top-menu .navmenu ul {
        display: flex;
        list-style-type: none; }
        .top-menu-block .top-menu .navmenu ul li {
          padding-left: 43px;
          font-size: 14px; }
          .top-menu-block .top-menu .navmenu ul li a {
            color: #a6a6a6;
            text-decoration: none; }
            .top-menu-block .top-menu .navmenu ul li a hr {
              visibility: hidden; }
            .top-menu-block .top-menu .navmenu ul li a:hover {
              opacity: 1;
              color: #fff;
              border-bottom: 3px solid #E27866;
              padding-bottom: 24px; }

@media (max-width: 768px) {
  .top-menu-block .navmenu {
    position: absolute;
    display: block;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 72px;
    background-color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    visibility: hidden;
    height: 0;
    overflow: hidden; }
  .top-menu-block .top-menu .navmenu ul {
    display: block;
    width: 100%; }
  .top-menu-block .top-menu .navmenu ul li {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; }
  .top-menu-block .top-menu .navmenu ul li a:hover {
    padding: 0px;
    border: 0px;
    color: black; } }

.bannerblock {
  background-image: url("content/banner.png");
  padding-bottom: 140px;
  padding-top: 75px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); }
  .bannerblock .textblock {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .bannerblock .textblock .bannerh {
      font-size: 36px;
      font-weight: 600;
      padding-bottom: 21px;
      color: white; }
    .bannerblock .textblock .borderbanner {
      padding-top: 10.5px;
      background-image: url("content/bannerline.png");
      width: 84px;
      height: 22px;
      background-repeat: no-repeat; }
    .bannerblock .textblock .extraLogo {
      width: 246px;
      height: auto;
      margin-bottom: 20px;
      margin-top: -7px; }
    .bannerblock .textblock .bannerp {
      padding-top: 21px;
      font-size: 16px;
      text-align: left;
      color: white;
      line-height: 1.45;
      padding-bottom: 43px; }
    .bannerblock .textblock .button {
      color: white;
      border: 2px solid white;
      width: 135px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none; }
  .bannerblock .formside {
    justify-content: center;
    display: flex;
    align-items: center; }
    .bannerblock .formside .fullform {
      width: 360px;
      background: white;
      margin-left: 90px;
      border-radius: 5px; }
      .bannerblock .formside .fullform .fullformh {
        background: #F5F5F5;
        padding-top: 17px;
        padding-bottom: 16px;
        border-radius: 5px;
        font-size: 20px;
        color: #333333;
        text-align: left;
        padding-left: 52px;
        padding-right: 12px; }
      .bannerblock .formside .fullform .fullformh3 {
        padding-top: 30px;
        color: #1C1C1C;
        margin-bottom: -7px;
        font-size: 17px;
        font-weight: 600; }
    .bannerblock .formside .form {
      display: flex;
      flex-direction: column; }
      .bannerblock .formside .form .form-wrap {
        padding-left: 52px;
        padding-right: 52px; }
      .bannerblock .formside .form input {
        padding-top: 10px;
        padding-bottom: 4.5px;
        border: none;
        border-bottom: 1px solid #e1e1e1;
        font-size: 12px;
        outline: 0;
        width: 100%; }
      .bannerblock .formside .form input::placeholder {
        color: #e8e8e8; }
    .bannerblock .formside .typing {
      padding-top: 32px;
      color: #1C1C1C;
      font-size: 17px;
      font-weight: 600; }
  .bannerblock .custom-radio {
    display: inline-block;
    margin-right: 10px; }
  .bannerblock input[type="radio"] {
    display: none; }
  .bannerblock label {
    font-size: 9px;
    text-transform: uppercase;
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .bannerblock input[type="radio"]:checked + label {
    opacity: 1;
    font-weight: bold; }
  .bannerblock .check {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid #41D395; }
  .bannerblock .check:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background: #41D395;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transform: scale(0); }
  .bannerblock input[type="radio"]:checked + label .check:before {
    transform: scale(1); }
  .bannerblock .bottomform {
    padding-bottom: 35px; }
  .bannerblock .getstartedbtn {
    background: #41D395;
    padding-top: 17px;
    padding-bottom: 16px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    outline: 0;
    border: 0;
    cursor: pointer; }
    .bannerblock .getstartedbtn:hover {
      background-color: #1fad70; }

@media (max-width: 768px) {
  .bannerblock .container {
    flex-direction: column; }
  .bannerblock .formside .fullform, .bannerblock .textblock {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .bannerblock .textblock {
    margin-bottom: 35px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.smblock {
  background: #FFFFFF;
  padding-top: 18px;
  padding-bottom: 18px; }
  .smblock.footer {
    background-color: #1C1C1C; }
    .smblock.footer .iconsblock {
      margin-left: 0px;
      width: 70%;
      max-width: 650px; }
      .smblock.footer .iconsblock .icon {
        width: 24px;
        height: 24px; }
    .smblock.footer .smtext {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: right;
      justify-content: right; }
      .smblock.footer .smtext .socialp {
        font-size: 18px; }
  .smblock .smtext .social {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px; }
  .smblock .smtext .socialp {
    color: #86878B;
    line-height: 1.45;
    font-size: 14px; }
  .smblock .iconsblock {
    width: 83%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 10%;
    align-items: center;
    margin-top: 5px; }
    .smblock .iconsblock a {
      display: inline-block; }
    .smblock .iconsblock .icon {
      width: 36px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      display: inline-block; }
    .smblock .iconsblock .iconf {
      background-image: url("content/facebook-logo.svg"); }
    .smblock .iconsblock .iconi {
      background-image: url("content/instagram-logo.svg"); }
    .smblock .iconsblock .icont {
      background-image: url("content/twitter.svg"); }
    .smblock .iconsblock .iconp {
      background-image: url("content/pinterest.svg"); }

@media (max-width: 768px) {
  .smblock {
    padding-top: 50px;
    padding-bottom: 50px; }
  .smblock .container {
    flex-direction: column; }
  .smblock .iconsblock {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; } }

.tabsblock {
  background-image: linear-gradient(to bottom, #6696e287, #e2786680), url("content/tabner.png");
  align-items: center;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 110px;
  padding-bottom: 115px; }
  .tabsblock .leftsidedblock {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tabsblock .leftsidedblock .miniblocks {
      margin-right: 55px; }
      .tabsblock .leftsidedblock .miniblocks .turned {
        padding-right: 25px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 38px;
        transform: rotate(317deg);
        font-size: 16px;
        text-transform: uppercase; }
      .tabsblock .leftsidedblock .miniblocks .registerb {
        background-image: url("content/registerb.png");
        width: 100px;
        height: 100px; }
      .tabsblock .leftsidedblock .miniblocks .applyb {
        background-image: url("content/applyb.png");
        width: 100px;
        height: 100px; }
      .tabsblock .leftsidedblock .miniblocks .receiveb {
        background-image: url("content/applyb.png");
        width: 100px;
        height: 100px; }
      .tabsblock .leftsidedblock .miniblocks .tab {
        margin-bottom: 21px; }
      .tabsblock .leftsidedblock .miniblocks .tab:nth-of-type(3) {
        margin-bottom: 0px; }
    .tabsblock .leftsidedblock .headertext {
      font-size: 36px;
      font-family: Montserrat;
      color: #FFFFFF;
      font-weight: 600; }
    .tabsblock .leftsidedblock .paragraph {
      padding-top: 33px;
      color: #FFFFFF;
      font-family: Montserrat;
      font-size: 14px;
      opacity: 0.7; }
  .tabsblock .rigthsidedblock {
    width: 40%;
    padding-left: 30px; }
    .tabsblock .rigthsidedblock .threeimg .first {
      background-image: url("content/leaves.png");
      width: 100%;
      height: 168px;
      background-repeat: no-repeat;
      position: relative; }
      .tabsblock .rigthsidedblock .threeimg .first .layer {
        background-color: rgba(226, 120, 102, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        .tabsblock .rigthsidedblock .threeimg .first .layer .word {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 71px;
          font-size: 20px;
          text-transform: uppercase; }
    .tabsblock .rigthsidedblock .threeimg .second {
      background-image: url("content/food.png");
      box-shadow: 11px 12px 6px #00000012;
      width: 100%;
      height: 168px;
      background-repeat: no-repeat;
      margin-left: 20px; }
    .tabsblock .rigthsidedblock .threeimg .third {
      background-image: url("content/shoes.png");
      box-shadow: 11px 12px 6px #00000012;
      width: 100%;
      height: 177px;
      background-repeat: no-repeat; }
    .tabsblock .rigthsidedblock .threeimg .topimg {
      display: flex; }
    .tabsblock .rigthsidedblock .threeimg .bottomimg {
      margin-top: 20px;
      display: flex;
      align-items: center; }
  .tabsblock .tabssize {
    display: flex; }

@media (max-width: 768px) {
  .tabsblock {
    padding-top: 50px;
    padding-bottom: 50px; }
  .tabsblock .container {
    flex-direction: column; }
  .tabsblock .leftsidedblock, .tabsblock .rigthsidedblock {
    width: 100%; }
  .tabsblock .leftsidedblock {
    flex-direction: column; }
  .tabsblock .leftsidedblock .miniblocks {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex; }
  .tabsblock .leftsidedblock, .tabsblock .rigthsidedblock {
    padding-left: 0px;
    margin-top: 50px; }
  .tabsblock .leftsidedblock .miniblocks > div.tab {
    width: 33.333%; } }

.logoblock {
  background-color: #1C1C1C;
  color: white;
  padding-top: 90px;
  padding-bottom: 89px; }
  .logoblock .logobottom {
    width: 50%;
    background-image: url("content/largelogo.svg");
    background-repeat: no-repeat;
    background-position-y: center; }
  .logoblock .text {
    width: 50%;
    padding-left: 20px; }
    .logoblock .text .headingtext {
      font-size: 30px;
      font-family: Montserrat;
      line-height: 43px;
      padding-bottom: 27px; }
    .logoblock .text .borderafter {
      background-image: url("content/borderafter.svg");
      width: 100%;
      max-width: 200px;
      height: 2px; }
    .logoblock .text .texty {
      padding-top: 27px;
      font-size: 14px;
      font-family: Montserrat;
      line-height: 20px;
      padding-bottom: 36px; }
    .logoblock .text .textwithimg {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .logoblock .text .textwithimg h5 {
        font-size: 14px;
        line-height: 20px;
        font-family: Montserrat; }
      .logoblock .text .textwithimg .first {
        font-size: 14px;
        font-family: Montserrat;
        line-height: 20px;
        padding-bottom: 36px;
        text-align: left;
        display: flex; }
  .logoblock .boxborder {
    width: 50px;
    height: 50px;
    background: #E27866;
    border-radius: 50%; }
    .logoblock .boxborder i {
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding-top: 12px; }
  .logoblock .righttext {
    padding-left: 20px; }

@media (max-width: 768px) {
  .logoblock {
    padding-top: 50px;
    padding-bottom: 50px; }
  .logoblock .container {
    flex-direction: column; }
  .logoblock .logobottom {
    width: 100%;
    height: 120px;
    background-position: top left;
    margin-bottom: 35px;
    background-size: contain; }
  .logoblock .text {
    width: 100%;
    padding-left: 0px; } }

.all {
  background: #FFFFFF;
  padding-top: 99px;
  padding-bottom: 122px; }
  .all .headingfull {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .all .headingfull h2 {
      font-size: 32px;
      line-height: 43px;
      color: #212121;
      font-family: Montserrat; }
    .all .headingfull p {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 20px;
      color: #86878B; }
    .all .headingfull .headlineborder {
      background-image: url("content/awesomeborder.svg");
      margin-top: 21px;
      height: 2px;
      width: 64px;
      margin-bottom: 27px; }
  .all .people {
    display: flex;
    justify-content: center; }
    .all .people .person {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33.3333%;
      padding-left: 20px;
      padding-right: 20px; }
      .all .people .person .borderfirst {
        border: 1px solid #E27866;
        border-radius: 50%;
        justify-content: center; }
        .all .people .person .borderfirst i {
          font-size: 29px;
          color: #E27866;
          padding: 15px; }
      .all .people .person .texty {
        text-align: center;
        padding-top: 35px;
        margin-bottom: auto;
        font-family: Montserrat; }
        .all .people .person .texty h2 {
          font-size: 20px;
          line-height: 20px;
          color: #333333; }
        .all .people .person .texty p {
          font-size: 14px;
          color: #86878B;
          line-height: 20px;
          margin-top: 27px; }
  .all .full {
    padding-top: 99px; }

@media (max-width: 768px) {
  .all {
    padding-top: 50px;
    padding-bottom: 50px; }
  .all .people {
    flex-direction: column; }
  .all .people .person {
    width: 100%; } }

.pricing {
  background: #6696E2;
  padding-top: 99px;
  padding-bottom: 107px; }
  .pricing .headingfull {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .pricing .headingfull h2 {
      font-size: 32px;
      line-height: 43px;
      color: #fff;
      font-family: Montserrat; }
    .pricing .headingfull p {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
      opacity: 0.6; }
    .pricing .headingfull .headlineborder {
      background-image: url("content/greenline.svg");
      margin-top: 21px;
      height: 2px;
      width: 64px;
      margin-bottom: 27px; }
  .pricing .pricelist {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: end;
    padding-top: 84px;
    width: 100%; }
    .pricing .pricelist .firstbasic {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%; }
      .pricing .pricelist .firstbasic .content {
        width: 100%; }
      .pricing .pricelist .firstbasic .basicborder {
        background-image: url("content/basicborder.svg");
        width: 100%;
        height: 6px; }
      .pricing .pricelist .firstbasic .basichead {
        background: #303030;
        height: 210px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
        .pricing .pricelist .firstbasic .basichead p {
          font-size: 14px;
          line-height: 24px;
          font-family: Montserrat;
          color: #ffffff;
          opacity: 0.5; }
        .pricing .pricelist .firstbasic .basichead h3 {
          font-size: 20px;
          line-height: 24px;
          font-family: Montserrat;
          color: #ffffff;
          font-weight: 100; }
        .pricing .pricelist .firstbasic .basichead .pricetag {
          display: flex;
          margin-top: 16px; }
          .pricing .pricelist .firstbasic .basichead .pricetag h1 {
            font-size: 70px;
            line-height: 24px;
            color: #ffffff;
            font-family: Montserrat;
            font-weight: 100; }
          .pricing .pricelist .firstbasic .basichead .pricetag h2 {
            font-size: 40px;
            font-family: Montserrat;
            color: white; }
      .pricing .pricelist .firstbasic .basiclist {
        text-align: center;
        margin-bottom: auto;
        font-family: Montserrat;
        border-bottom: 2px solid white;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; }
        .pricing .pricelist .firstbasic .basiclist p {
          background: white;
          padding-top: 11px;
          padding-bottom: 11px;
          font-family: Montserrat;
          text-transform: uppercase;
          background: white;
          color: #86878B;
          font-size: 14px;
          padding-left: 10px;
          padding-right: 10px; }
        .pricing .pricelist .firstbasic .basiclist .colored {
          background: #41D395;
          color: white; }

@media (max-width: 768px) {
  .pricelist {
    flex-direction: column; }
  .pricelist > div {
    margin-bottom: 20px; } }

.reviews-block {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center; }
  .reviews-block .reviews {
    width: 100%; }
    .reviews-block .reviews h2 {
      color: #1C1C1C;
      padding-bottom: 32px; }
    .reviews-block .reviews .blue {
      border-bottom: 2px solid #6696E2;
      width: 64px;
      margin: 0 auto; }
  .reviews-block .reviews-items {
    margin-top: 50px; }
    .reviews-block .reviews-items .container {
      align-items: end; }
  .reviews-block .firstbasic {
    width: 33%;
    padding-left: 50px;
    padding-right: 50px; }
    .reviews-block .firstbasic .firsttext {
      background: #6696E2;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
      padding-left: 20px;
      border-radius: 8px; }
      .reviews-block .firstbasic .firsttext p {
        color: #FFFFFF;
        text-align: left;
        line-height: 22px; }
    .reviews-block .firstbasic .bottomrev {
      display: flex;
      align-items: center;
      padding-top: 20px; }
      .reviews-block .firstbasic .bottomrev .imgjer {
        background-image: url("content/avatar.png");
        width: 70px;
        height: 70px; }
    .reviews-block .firstbasic .talks {
      padding-left: 18px; }
      .reviews-block .firstbasic .talks h2 {
        font-size: 20px;
        color: #333333;
        font-weight: 100;
        padding-bottom: 2px; }
      .reviews-block .firstbasic .talks p {
        font-size: 14px;
        color: #86878B;
        line-height: 17px;
        letter-spacing: 0.3px; }
    .reviews-block .firstbasic .custombox {
      position: absolute;
      margin-top: -2px;
      margin-left: 23px;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 14px solid #6696e2;
      transform: rotate(181deg); }
    .reviews-block .firstbasic .reviews-sizing {
      display: flex;
      align-items: end; }
    .reviews-block .firstbasic .section {
      display: flex;
      flex-direction: column;
      align-items: end;
      padding-bottom: 152px; }

.contacts.bannerblock {
  background-image: none;
  background-color: #E27866;
  box-shadow: none; }
  .contacts.bannerblock .formside {
    width: 100%; }
    .contacts.bannerblock .formside .fullform {
      margin-left: auto;
      margin-right: auto; }
    .contacts.bannerblock .formside .getstartedbtn {
      width: 170px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px; }
